* {
    box-sizing: border-box;
}

:root {
   --primary: #44e9ff;
}

header p {
    display: inline-block;
}

.highscore {
    text-align: left;
    width: 50%;
    color: blueviolet;
    font-size: 14px;
}

.timer {
    text-align: right;
    font-size: 16px;
    width: 45%;
}

.start-quiz{
    margin: auto;
    width: 50%;
    height: 100px;
    text-align: center;
}
 
#start {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 16px;
    background-color:purple;
    color: white;
  }

#alldone {
    text-align: center;
    font-size: 24px;
}

#score {
    text-align: center;
    font-size: 18px;
}

#enterin {
    text-align: center;
    font-size: 18px;
}

.questions { 
    text-align: center;
}

.questions h1 { 
    font-size 24px;
}

#answers {
    display: block;
    text-align: center;
}

.button {
    margin: 10px;
    position: relative;
    left: 30%;
    width: 225px;
    /*-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color:purple;
    color: white;
    display: block;
    align-content: center;
}